@import url("https://fonts.googleapis.com/css?family=Assistant");

body {
	background-color: #bdc3c7;
}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 40px;
}

.main {
	font-family: "Assistant", sans-serif;
	text-align: center;
}

#message {
	font-size: 30px;
}

#response {
	font-size: 30px;
}
